<a href="https://colab.research.google.com/github/ecocw/114_bigdata/blob/03.-%E5%A4%A7%E6%95%B8%E6%93%9A%E8%B3%87%E6%96%99%E8%99%95%E7%90%86/Code_U03_1_DataFrame%E8%B3%87%E6%96%99%E8%99%95%E7%90%86.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## 1. Python資料結構建立

###   (1) Series 物件建立

#### A. 資料為list, 建立Series

In [1]:
import pandas as pd
sex = pd.Series( ['F', 'M', 'F', 'M'])
print(sex)

0    F
1    M
2    F
3    M
dtype: object

In [2]:
sex.index   #顯示索引index

RangeIndex(start=0, stop=4, step=1)

In [3]:
sex.values   #顯示元素值 value

array(['F', 'M', 'F', 'M'], dtype=object)

#### 增加新元素

In [4]:
sex[4]='F'
print(sex)

0    F
1    M
2    F
3    M
4    F
dtype: object

#### B.創建帶有定義索引的Pandas序列

In [5]:
#Create pandas series with define indexes
import pandas as pd
sex = pd.Series( ['F', 'M', 'F', 'M'],
                index=['Amy', 'Bob', 'Cindy', 'David'])
print(sex)

Amy      F
Bob      M
Cindy    F
David    M
dtype: object

### (2) DataFrame物件建立

#### 從字典對象導入數據，Key是鍵，Value是數據

    語法: pd.DataFrame(dict, columns=[col1,col2.,,,])

In [6]:
import pandas as pd
import numpy as np
data = {'name': ['Amy', 'Bob', 'Cindy', 'David', 'Eva'],
        'age': [20, 22, 27, 26, 25],
        'income': [np.nan, 10, 15, 12, 20],
        'hours':[19,22, 20, 18, 20]}
df = pd.DataFrame(data)
print(df)

    name  age  income  hours
0    Amy   20     NaN     19
1    Bob   22    10.0     22
2  Cindy   27    15.0     20
3  David   26    12.0     18
4    Eva   25    20.0     20

#### 在dataframe增加婚姻欄位married

In [7]:
mar = ['Y', 'N', 'N', 'Y', 'N']
df['married'] = mar
print(df)

    name  age  income  hours married
0    Amy   20     NaN     19       Y
1    Bob   22    10.0     22       N
2  Cindy   27    15.0     20       N
3  David   26    12.0     18       Y
4    Eva   25    20.0     20       N

## 2. Pandas 資料存取
### (1) 匯入檔案

In [8]:
#方法一：直接上傳EXCEL檔案到COLAB
# from google.colab import files
# uploaded = files.upload()

In [9]:
import pandas as pd
file='tesg.xlsx'
#匯入EXCEL檔案
df = pd.read_excel(file)
df.head() #顯示前5列

FileNotFoundError: [Errno 2] No such file or directory: 'tesg.xlsx'

In [ ]:
#方法二：從Google Drive匯入

# from google.colab import drive
# drive.mount('/content/drive')

In [ ]:
# 找到檔案路徑 如"/content/drive/MyDrive/data.xlsx"
# import pandas as pd

# file_path = "/content/drive/MyDrive/data.xlsx"
# df = pd.read_excel(file_path)

# df.head()

### (2) 資料匯出

In [ ]:
df.to_csv('tesg.csv',encoding='utf-8-sig',index=False)
# df.to_excel('tesg.xlsx')
# df.to_json('tesg.json')

## 3.DataFrame資料檢視與選取
### (1) 資料檢視

In [ ]:
#檢視後三列
df.tail(3)

In [ ]:
#檢視欄位名稱
df.columns

In [ ]:
#檢視DataFrame行數和列數
df.shape

In [ ]:
#檢視敍述統計
df.describe()

In [ ]:
#檢視DataFrame索引
df.index

In [ ]:
#檢視DataFrame索引、資料類型和內存信息
df.info()

### (2) 資料選取

In [ ]:
# 提取特定column
SASB=df['SASB主產業'].unique()
print(SASB)

In [ ]:
# 同時提取多個volumn
TESG_rating=df[['代號','TESG等級','TESG分數']]
print(TESG_rating.head())

In [ ]:
#提取第4個columns
df.iloc[:,3]

In [ ]:
#提取第3列
df.iloc[2]

## 4. 資料處理: Filter, Sort, Groupby
### (3) 資料過濾(Filter)

In [ ]:
#過濾
filter=df[df['TESG分數']>=70]
display(filter.head(3))

In [ ]:
#過濾：金融業且TESG等級為A+
filtered_df=df[(df['SASB主產業'] =='金融') & (
    df['TESG等級'] =='A+')]
display(filtered_df.head(3))

### (4) 資料排序(Sort)

In [ ]:
#排序 #ascending=1 升序 ascending=0 降序
# filtered_df.sort_values('環境構面分數',ascending=1)

filtered_df.sort_values('環境構面分數',ascending=0)

In [ ]:
TESG_L=df.groupby('TESG等級')    #分組
display(TESG_L.size())     #看每個組別內的大小

In [ ]:
# TESG_L.get_group("A+")  #括弧內放入要取出的類別

In [ ]:
#計算每一TESG等級類別的平均TESG分數
avg_score = df.groupby('TESG等級',      #把 df 依照 TESG等級 這一欄的不同值進行分組
                       as_index=False,  #讓分組欄位（TESG等級）不要當成 索引
                       observed=True    #只顯示實際有資料的等級
                       )['TESG分數'].mean() #計算每個 TESG等級類別TESG分數的平均值
display(avg_score)

In [ ]:
from pandas.api.types import CategoricalDtype

# 界定TESG等级順序
tesg_order = ['A+', 'A', 'B+', 'B', 'B-', 'C', 'C-']

# 將 'TESG等級' 欄位轉成特定順序
avg_score['TESG等級'] = avg_score['TESG等級'].astype(
    CategoricalDtype(categories=tesg_order, ordered=True))

# 依 TESG等級 順序顯示
avg_score = avg_score.sort_values('TESG等級')

display(avg_score)

In [ ]:
#建立樞紐分析表
table = pd.pivot_table(df, values='TESG分數', index=['SASB主產業', 'SASB子產業'],
                       columns=['採用永續報告書是否驗證'], aggfunc="mean")
display(table)